<div class="contato-container">
  <div class="row">
    <div class="col-md-12">
      <h1>Contato</h1>
      <div class="row">
        <div class="col-md-6">
          <div style="margin-bottom: 16px;">
            <h5>Universidade Federal do Paraná</h5>
            <h5>Coordenação do Curso de Medicina Veterinária</h5>
            <p style="margin-bottom: 0">Rua dos Funcionários, 1540 - Juvevê</p>
            <p style="margin-bottom: 0">Curitiba (PR), Brasil</p>
            <p style="margin-bottom: 0">Fone: +55(41) 3350-5615</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="spinner-container">
            <i class="fas fa-circle-notch fa-spin"></i>
          </div>
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                src="https://maps.google.com/maps?q=Rua%20dos%20Funcion%C3%A1rios%2C%201540%20-%20Juvev%C3%AA&t=&z=15&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                scrolling="yes"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
