.navbar {
  z-index: 9999;
  padding: 0 12px;
  li {
    margin-right: 8px;
    i {
      margin-right: 4px;
    }
    a {
      border-radius: 7px;
      padding: 8px 12px;
      opacity: 0.7;

      &:hover, &.link-active {
        opacity: 1;
      }
    }
  }
}

.logo {
  outline: none;
  cursor: pointer;
  margin: 8px 20px;
  .logo-image {
    float: left;
    width: 30px;
    margin-right: 8px;
  }
  div {
    p {
      font-size: 18px;
      font-weight: 400;
      display: inline-block;
      margin: 0;
    }
  }
}

.styled-select {
  outline: none;
  background-color: inherit;
  border: inherit;
  color: inherit;
  cursor: pointer;
}