<div class="row">
	<div class="col-md-12">
    <h1>Cadastro</h1>
		<form [formGroup]="form">
      <div class="col-md-4 float-right">
        <div class="result-image" *ngIf="imgSrc">
            <img [src]="imgSrc">
            <div class="overlap-button" (click)="openImageSelectModal()">
              <span><i class="fas fa-camera"></i>Selecionar foto</span>
            </div>
        </div>
      </div>
      <div class="col-md-5 form-group">
        <label>Nome</label>
        <input formControlName="name" type="text" class="form-control"/>
      </div>
      <div class="col-md-3 form-group">
				<label>Data de nascimento</label>
				<input formControlName="birthdate" type="date" class="form-control"/>
			</div>
      <div class="col-md-5 form-group">
        <label>Email</label>
        <input formControlName="email" type="text" class="form-control"/>
      </div>
      <div class="col-md-3  form-group">
        <label>CPF</label>
        <input formControlName="cpf" type="text" class="form-control"/>
      </div>
			<div class="col-md-3 form-group">
				<label>CEP</label>
				<input formControlName="cep" type="text" class="form-control"/>
			</div>
			<div class="col-md-5 form-group">
				<label>Endereço</label>
				<input formControlName="addressStreet" type="text" class="form-control"/>
			</div>
			<div class="col-md-2 form-group">
				<label>Número</label>
				<input formControlName="addressNumber" type="number" class="form-control"/>
			</div>
			<div class="col-md-4 form-group">
				<label>Bairro</label>
				<input formControlName="addressNeighbourhood" type="text" class="form-control"/>
			</div>
			<div class="col-md-6 form-group">
				<label>Complemento</label>
				<input formControlName="addressComplement" type="text" class="form-control"/>
			</div>
			<div class="col-md-12 form-group">
				<label>Escreva um pouco sobre você</label>
				<textarea formControlName="bio" type="text" class="form-control"></textarea>
			</div>
			<div class="col-md-3 form-group">
				<label>GRR</label>
				<input formControlName="grr" type="text" class="form-control"/>
			</div>
			<div class="col-md-3 form-group">
				<label>Você está estagiando no momento?</label>
				<select formControlName="isEstagiando">
          <option [value]="false" selected>Não</option>
          <option [value]="true">Sim</option>
        </select>
			</div>
			<div class="col-md-6 form-group">
				<label>Animal Favorito</label>
				<input formControlName="favoriteAnimal" type="text" class="form-control"/>
			</div>
			<div class="col-md-12 form-group">
				<label>Escreva uma frase que você gosta</label>
				<input formControlName="favoriteQuote" type="text" class="form-control"/>
			</div>
			<div class="col-md-6 form-group">
				<label>Cor favorita</label>
				<input formControlName="favoriteColor" type="color" class="form-control"/>
			</div>
      <button class="btn btn-primary" type="button" (click)="onFormSubmit()">Salvar</button>
      <button hidden #modalBtn data-toggle="modal" data-target="#selectImageModal"></button>
		</form>
	</div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="selectImageModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Selecionar imagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveImg()" data-dismiss="modal">Salvar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
