$primary-color: #454545;
$secondary-color: #333333;
$terciary-color: #454545;
$navbar-text-color: #fff;
$text-color: #fff;
// $background-color: #272727;
$background-color: #121212;


.theme-wrapper {
	&.dark-theme {
		background-color: $background-color !important;
		color: $text-color !important;

		.navbar {
			background-color: $primary-color !important;
			li {
				a {
			    color: $navbar-text-color !important;

					&:hover, &.link-active {
						background-color: $secondary-color !important;
					}
				}
			}
			.logo p {
				color: $navbar-text-color !important;
			}
		}

		.modal {
      .modal-header {
			  background-color: $primary-color !important;
        color: $navbar-text-color !important;
      }

      .modal-content {
			  background-color: $background-color !important;
      }

      button.close {
        color: $text-color !important;
      }
		}

		select {
			background-color: $secondary-color !important;
			color: $navbar-text-color !important;
		}

    hr {
			background-color: $primary-color !important;
    }

		button.btn.btn-primary {
			background-color: $primary-color;

			&:hover {
				background-color: $secondary-color;
			}
		}

		button.btn.btn-secondary {
			background-color: $secondary-color;

			&:hover {
				background-color: $terciary-color;
			}
		}

    .footer {
      background-color: $primary-color;
      color: $navbar-text-color !important;
    }
	}
}
