$primary-color: #519839;
$secondary-color: #5aac44;
$terciary-color: #61bd4f;
$navbar-text-color: #fff; 
$text-color: #000; 
$background-color: #fff;

.theme-wrapper {
	&.default-theme {
		background-color: $background-color !important;
		color: $text-color !important;

		.navbar {
			background-color: $primary-color !important;
      li {
        a {
			    color: $navbar-text-color !important;

					&:hover, &.link-active {
						background-color: $secondary-color !important;
					}
        }
      }
			.logo p {
				color: $navbar-text-color !important;
			}
		}

		select {
			background-color: $secondary-color !important;
			color: $navbar-text-color !important;
		}

		button.primary-button {
			background-color: $primary-color;

			&:hover {
				background-color: $secondary-color;
			}
		}

		button.secondary-button {
			background-color: $secondary-color;

			&:hover {
				background-color: $terciary-color;
			}
		}
	}
}
